/* .about {
    max-width: 773px;
} */

.about-content {
    color: #FFF;
    text-align: center;
    font-family: "Space Mono";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.6px;
    max-width: 773px;
    margin-left: 15px;
    margin-right: 15px;
}