@font-face {
  font-family: 'GrandSlang';
  src: url('/fonts/GrandSlang-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





#root {
  margin: 0;
  text-align: center;
  
}

