@font-face {
  font-family: 'Grand Slang';
  src: url('../public/fonts/GrandSlang-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




#root {
  margin: 0;
  text-align: center;
  
}

